/* #region RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion RESET  */

/* #region GENERAL */
/* #endregion GENERAL */

/* #region COMMONS */
/* #endregion COMMONS */

/* #region VARIABLES */
/* #endregion  VARIABLES */

/* #region HEADER */
/* #endregion HEADER */

/* #region MAIN */
/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region RESPONSIVE */
/* #endregion RESPONSIVE */


