/* #region RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion RESET  */

/* #region GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* #endregion GENERAL */

/* #region COMMONS */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.radius-50 {
  border-radius: 50%;
}

.txt-center {
  text-align: center;
}

.flex {
  display: flex;
}
/* #endregion COMMONS */

/* #region VARIABLES */
:root {
  --header-bkg: #0084fd;
  --cards-bkg: #b5ddff;
  --violet-bkg: #9792e4;
  --free-txt: #fdc15f;
  --footer-bkg: #333333;

}
/* #endregion  VARIABLES */

/* #region HEADER */
header {
  background-color: var(--header-bkg);
  height: 75px;
  line-height: 75px;
}

header .container.flex {
  justify-content: space-between;
}

#logo-sito {
  background-color: yellow;
}

header nav {
  background-color: yellow;
}
/* #endregion HEADER */

/* #region MAIN */

/* #region SECTION 1 */
#sect-1 {
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#sect-1 > div {
  width: calc((100% - 60px) / 3);
  height: 350px;
  background-color: var(--cards-bkg);
  border: 1px solid black;
}

#sect-1 > div:first-child {
  width: calc(calc((100% - 60px) * 2 / 3) + 30px);
}

/* #endregion SECTION 1 */

/* #region SECTION */
/* #endregion SECTION */

/* #region SECTION */
/* #endregion SECTION */

/* #region SECTION */
/* #endregion SECTION */

/* #region SECTION */
/* #endregion SECTION */

/* #region SECTION */
/* #endregion SECTION */

/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region RESPONSIVE */

/* #region TABLET */
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
/* #endregion TABLET */

/* #region MOBILE */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  #sect-1 > div {
    width: 100%;
  }
  
  #sect-1 > div:first-child {
    width: 100%;
  }
  
}
/* #endregion MOBILE */

/* #endregion RESPONSIVE */


